@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import "tailwindcss";

body header,
body footer {
  font-family: "Galmuri9", monospace;
}

body main,
body #modal-root {
  font-family: "Galmuri11", monospace;
}
